spring:
  config:
    activate:
      on-profile: prod

  datasource:
    # As variáveis ${...} serão preenchidas pelo Render
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # Cria as tabelas automaticamente no Neon
    show-sql: false